* {box-sizing:border-box}

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease;
}

header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(214, 184, 184, 0.2);
  padding: 20px;
  z-index: 7;
  width: 100%;
}

.logo {
  color: rgb(0, 0, 0);
  font-size: 2rem;
  font-weight: 500;
  display: block;
  font-family: "Great Vibes";
}

nav ul {
  list-style-type: none;
  padding: 0;
}

.nav-links li {
  display: inline;
  margin-left: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: black;
}

.mobile-menu {
  display: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.line {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
}

@media screen and (max-width: 768px) {
  .logo {
    display: none;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #333;
    padding: 20px;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    text-align: right;
  }

  .nav-links li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .mobile-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hamburger {
    display: flex;
  }
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.slideshow {
  width: 100%;
  overflow: hidden;
}

.slideshow img {
  width: 100%;
  display: block;
  object-fit: cover;
  max-height: 800px;
}

.container {
  position: relative;
  text-align: center;
  margin-top: 20px;
}

.slide-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.active-dot {
  background-color: #555;
}

.service-boxes {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  position: relative;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  flex-wrap: wrap;
}

.service-box {
  width: 30%;
  padding: 20px;
  height: 600px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  min-width: 380px;
  position: relative;
}

.service-box img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.service-box h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.service-box p {
  font-size: 1em;
}
